@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: black;
  font-family: sans-serif;
  color: #354358;
  margin-left: -16px;
  /* background-image: url("/public/scene.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #ac7b7b; */
}
::-webkit-scrollbar-thumb {
  background-color: linear-gradient(to right bottom, #00f260, #0575e6);
}
::-webkit-scrollbar {
  width: 6px;
  height: 0px;
}
