@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: black;
  font-family: sans-serif;
  color: #354358;
  /* background-image: url("/public/scene.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #ac7b7b; */
}
